<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/components/comments/comments.css">
</head>
<body>
  <div class="main-container">
    <div class="title-container">
      <h1>KOVET HOSPITALITY PAGE</h1>
    </div>

    <div class="comments-container">
      <a href="https://orders.kovethospitality.com/orders" target="_blank" id="open-gmail-button" class="comment-button">
        Open orders</a>
    </div>
  </div>
  <script src="/components/comments/comments.js" type="module"></script>
</body>
</html>